
bin/Debug/net7.0/

obj/Debug/net7.0/

obj/

.vs/MagicVila/xs/project-cache/
/.vs
*.user
/log
/MagicVila_API/bin/Debug/net7.0
/.vs/MagicVila/xs/project-cache/MagicVila_VilaAPI-Debug.json
/.vs/MagicVila/xs/UserPrefs.xml
/MagicVila_Web/bin/Debug/net7.0
/Utility/bin/Debug/net7.0
